
  <% questions.each do |question| %>
    <div class="w-50 mx-auto card" id="question-card">
      <div class="card-body">
        <%= image_tag("lorem.jpg", class: "rounded", id:"question-image", size: "75x75")%>
        <h5 class="card-title">Admin</h5>
        <small class="text-muted"><%= Date.today.to_s %></small>
      </div>
      <div class="card-body">
        <p class="card-text"><%= question.question %></p>
        <button>answer</button>
      </div>
      <div class="card-footer text-muted" >
        <small><%= Date.today.to_s %></small>
      </div>
    </div>
    <% end %>
