<% if notice %>
  <div class="alert alert-info" role="alert">
    <%= notice %>
  </div>
<% end %>

<div class="container-a">
  HEafhasfjkashfkjsah
</div>
<!--
<div>
  <%= render partial: 'index', locals: {questions: @questions} %>
</div>
-->