<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-unanswered-tab" data-toggle="tab" href="#nav-unanswered" role="tab" aria-controls="nav-unanswered" aria-selected="true">Unanswered</a>
    <a class="nav-item nav-link" id="nav-answered-tab" data-toggle="tab" href="#nav-answered" role="tab" aria-controls="nav-answered" aria-selected="false">Answered</a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-unanswered" role="tabpanel" aria-labelledby="nav-unanswered-tab">
    <div class="questions-unanswered-div">
      <%= render partial: 'question', locals: {questions: questions(current_user.id, answered = false), user_id: current_user.id} %>
    </div> 
    <% if questions(current_user.id, answered = false).length > 0 %>
      <div class="paginator">
        <%= paginate questions(current_user.id, answered = false), :remote => true %>
      </div>
    <% else %>
      <h3 class="text-muted"> 
        <p class="text-center">
          Empty.
        </p>
      </h3>
    <% end %>
  </div>

  <div class="tab-pane fade" id="nav-answered" role="tabpanel" aria-labelledby="nav-answered-tab">
    <div class="questions-answered-div">
      <%= render partial: 'question', locals: {questions: questions(current_user.id, answered = true), user_id: current_user.id} %>
    </div> 
    <% if questions(current_user.id, answered = true).length > 0 %>
      <div class="paginator">
        <%= paginate questions(current_user.id, answered = true), :remote => true %>
      </div>
    <% else %>
      <h3 class="text-muted"> 
        <p class="text-center">
          Empty.
        </p>
      </h3>
    <% end %>
  </div>
</div>

<div class="modal" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>