<% if notice %>
  <div class="alert alert-info" role="alert">
    <%= notice %>
  </div>
<% end %>

<div class="questions-div">
  <%= render partial: 'index', locals: {questions: @questions} %>
</div>
<div class="paginator">
  <%= paginate @questions, :remote => true %>
</div>