<div>
  <h2>Distribution of Equipment Status</h2>
  <%= pie_chart get_equipment_status_report(), donut: true, suffix: "%", colors: ["#5bc0de", "#5cb85c", "#f0ad4e", "#d9534f", "#0275d8", "#292b2c"].shuffle %>
</div>
<div>
  <h2>Distribution of Equipment Type</h2>
  <%= pie_chart get_equipment_type_report(), donut: true, suffix: "%", colors: ["#5bc0de", "#5cb85c", "#f0ad4e", "#d9534f", "#0275d8", "#292b2c"].shuffle %>
</div>