<div class="d-flex align-content-center flex-wrap" id="main-container">
  <div>
    <img src="..." alt="..." class="img-thumbnail">
    <img src="..." alt="..." class="img-thumbnail">
  </div>
  <div>a </div>
</div>