<div class="index-div">
  <div class="jumbotron" style="float:left;width:50%;">
      <h1 class="display-4">Welcome to Officeman!</h1>
      <p class="lead">A simple system to track your employees and equipment.</p>
      <a class="btn btn-primary btn-lg" href="https://github.com/austin-uy/officeman" role="button">Learn more</a>
  </div>
  <div class="teamwork">
    <%= inline_svg "teamwork.svg", height: "300" %> 
  </div>
</div>

<div class="bottom-div">
  <hr>
  Language List Here (WIP)
</div>