.pagination {
  margin-top: $base-spacing;
  padding-left: $base-spacing;
  padding-right: $base-spacing;
  display: flex;
  justify-content: center;

  .first,
  .prev,
  .page,
  .next,
  .last {
    margin: $small-spacing;
  }

  .current {
    font-weight: $bold-font-weight;
  }

  .page-item {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
