// Place all the styles related to the Equipment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#card{
  width: 18rem;
  float: left;
  height: 13rem;
  margin-bottom: 5rem;
}

#options{
  float: right;
}

#card-add{
  text-align: center;
  display: flex;
  margin: auto;
  flex: 0;
}

.charts{
  text-align: center;
}

.report-container{
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  margin-bottom: 10rem;
}

.h2{
  margin-bottom: 2rem;
}