// Place all the styles related to the Equipment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#card{
  width: 18rem;
  float: left;
  height: 13rem;
}

#options{
  float: right;
}

#card-add{
  text-align: center;
  display: flex;
  margin: auto;
  flex: 0;
}

