// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-div{
  display: flex;
  height: 80%;
  flex-flow: row;
  margin-top: 5%;
}

.teamwork{
  text-align: center;
  width: 50%;
}

.bottom-div{
  position: absolute;
  bottom:0;
  width: 100%;
}