// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questions-div {
  display: flex;
  flex-direction: column;
}

#question-card {
  margin: 20px 0px;
}

#question-image-div {
  flex-grow: 0; 
}

#question-image {
  margin-right: 10px;
  float:left;
}