// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questions-div {
  display: flex;
  flex-direction: column;
}

#question-card {
  margin: 20px 0px;
}

#question-options{
  float: right;  
  flex-direction: column;
  flex: 1;
}

#checkbox-group{
  margin-left: 1rem;
}