// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-card{
  width: 18rem;
  float: left;
  height: 15rem;
  margin-bottom: 5rem;
}

.card-image{
  margin-right: 5%;
}

.button-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile{
  display: flex;
  margin: 5rem;
  flex-direction: column;
}

.profile-header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile-texts{
  margin-left: 2rem;
}

.profile-location{
  
}

.profile-picture{
  align-self: center;
}